@tailwind base;
@tailwind components;
@tailwind utilities;

.newDoc-btns .MuiButton-root {
  text-transform: none !important;
  font-weight: 400;
  color: rgba(75, 85, 99);
}

.newDoc-btns .MuiButton-root svg {
  margin-left: 0.25em;
}

.idRight .MuiButton-root {
  background-color: #2196f3;
  color: whitesmoke;
}

.idRight .MuiButton-root svg {
  margin-right: 0.25em;
}

/* body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */
